.countDisplay {
    padding: 3rem 0;
    background: #24292e;
    color: #fff;
    font-size: 20px;
}

span.countNum {
    margin: 0 0.5rem;
    font-size: 20px;
}

button#add,#subtract{
  border: solid 1px #ccc;
  padding: 1rem;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 2rem 0.5rem;
  border-radius: 3px;
  font-size: 15px;
  color: #24292e;
}